* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.swipe-container{
    width: 100%;
    height: 100vh;
    background-color: #222;
    box-sizing: flex;
    align-items: center;
    justify-content: center;

}
.swiper{
    width: 50%;
    height: 100vh;
}
.swiper-slide img{
    width: 100%;
}
.swiper .swiper-pagination-bullet-active{
    background: #000;
}
.swiper-button-prev, .swiper-button-next{
    --swiper-navigation-color: black;
   

}